.product-card{
  display: flex;
    align-items: center;
    margin-left: 15px;
    text-align: center;
}
.cards{
    text-align: center;
}
.product-title{
    margin-bottom: 5px;
}
.product-image{
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 5px;
}
